@mixin flex-columns {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  align-items: center;
  justify-content: center;
}
